.DS_Store
Thumbs.db
*.log
*.swp
*.class
*.pyc
*.iml
*.ipr
*.iws
.idea/
.vscode/
.atom/
.history
.svn/
.swiftpm/
.widget_preview/
migrate_working_dir/

.dart_tool/
.packages
.pub-cache/
.pub/
.flutter-plugins
.flutter-plugins-dependencies
build/
coverage/
**/doc/api/
**/*.g.dart
**/ios/Flutter/.last_build_id
app.*.symbols
app.*.map.json
android/app/debug
android/app/profile
android/app/release

node_modules/
dist/
.env
.env.*
!.env.example
npm-debug.log*
yarn-error.log
