.dart_tool/
.packages
.pub-cache/
.pub/
build/
*.iml
.idea/
.vscode/
app/.flutter-plugins
app/.flutter-plugins-dependencies
app/.dart_tool/
app/build/
app/android/.gradle/
app/android/local.properties
app/ios/Flutter/ephemeral/
.flutter-plugins
.flutter-plugins-dependencies
**/*.g.dart
.DS_Store
*.log
coverage/
